<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <nav>
      <a href="/">Home</a>
    </nav>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>IntuitiveCare Teste</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
