* {
  margin: auto, 0;
}

body {
  background-color: #f7dfff;
}

nav {
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
  margin-bottom: 7px;
}

form {
  background-color: #c8a4f4;
  padding: 7px;
  margin: auto;
  font-size: 1.5rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  text-align: center;
}

table {
  padding: 0;
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
}
